.search-for-customer-details {
    div {
      padding: 10px 20px;
      background: var(--ion-color-tertiary-color);
      border-radius: 10px; margin: 20px; text-align: center;
  
      ion-label {
        color: var(--available-text-color);
        font-size: 16px;
        line-height: 39px;
        letter-spacing: 0.49px;
        word-wrap: break-word;
        font-family: 'Roboto-Medium';
      }
    }
  }